@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.wrap {
  width: 375px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  margin-left: 12px;
  margin-top: 4px;
}

.menu-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 375px;
  border: 1px solid yellow;
}

.menu-icon {
  margin-right: 10px;
}

.dst-cont {

}

.dsktp-lf-menu {
  display: none;
}

nav {
  padding: 8px;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 114px 24px;
  gap: 12px;
}

.headlines {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.work {
  display: grid;
  grid-template-columns: 1fr;
  width: 375px;
  top: 718px;
  padding: 114px 24px;
  gap: 88px;
  align-items: center;
}

.about_myself {
  background-image: none;
  border-bottom-left-radius: 60px;
}

.contact-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.social-media {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 20px;
}

.works {
  display: grid;
  grid-template-columns: 1fr;
  width: 375px;
  height: 2788px;
  top: 718px;
  padding: 114px 24px;
  gap: 88px;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.project-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
}

.project-title {
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 44px;
  color: #172b4d;
}

.header-details {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.header-details .client {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #172b4d;
}

.header-details .year {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.counter {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

.project-details {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: flex;
  gap: 8px;
  align-items: center;
}

.tags .tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.action {
  padding: 12px 0;
}

.project-button {
  width: fit-content;
  padding: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  font-style: normal;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: transparent;
  color: #396df2;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.project-button:hover {
  background: #6070ff;
  color: #fff;
}

.about {
  border-top-right-radius: 60px;
}

.skill-list {
  padding: 12px;
}

.skill-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 20px;
}

.btn-chev {
  border: none;
  outline: none;
  padding: 8px;
  background: transparent;
  cursor: pointer;
}

.language-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.language-list li {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
}

.separator-line {
  height: 1px;
  background: #dfe1e6;
}

.skill-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 12px;
}

.form_header {
  color: white;
  font-weight: 600;
  font-size: 40px;
  margin: 0;
  height: auto;
  padding: 5px 0;
  text-align: center;
}

.form_paragraph {
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_input {
  padding: 15px 10px;
  border-radius: 10px;
}

.form_button {
  padding: 10px 20px;
  border-radius: 12px;
  background-color: #fff;
  color: #6070ff;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: fit-content;
}

.form_button:hover {
  background-color: #6070ff;
  color: white;
}

.form_button:active {
  background-color: #2230d2;
  color: white;
}

.form_button:disabled {
  background-color: #fff;
  color: #5e6c84;
  border-color: #5e6c84;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer {
  background-image: url(/svg_files/contact/contact\ form\ shapes-mobile.svg);
  background-size: cover;
  background-color: #6070ff;
  padding: 120px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 70px;
  gap: 120px;
}

.head_description {
  background-image: url("images/background_image/main_header.svg");
}

.contact_me {
  padding-top: -1%;
  position: relative;
  background-image: url("images/background_image/Ellipse-3.svg"), url("images/background_image/Rectangle-4.svg"), url("images/background_image/Ellipse-5.svg"), url("images/background_image/Ellipse-12.svg"), url("images/background_image/Rectangle-7.svg");
  background-repeat: no-repeat;
  background-position: top 1em left 18.5em, top 1em left 16.5em, bottom 5em left 14em, top 1em left 10em, bottom 5em left 14em;
}

@media only screen and (min-width: 768px) {

  .wrap {
    width: 100%;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 100%;
    border: 1px soilid black;
  }

  nav {
    width: 100%;
  }

  .menu-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 100%;
    border: 1px solid yellow;
  }

  .dsktp-lf-menu {
    display: block;
  }

  .menu-icon {
    display: none;
  }

  .dst-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 100%;
  }
  
  .menu-ul {
    display: flex;
    width: 400px;
    border: 1px solid yellow;
  }

  .menu-ul li {
    list-style: none;
    margin: 10px;
  }

  .head_description {
    width: 100%;
    align: center;
    padding: 15em;
    min-height: 196hv;
    background-image: url("images/desktop/desktop_image/header_bg.svg");
    border: 1px solid blue;
  }
   .project {
    width: 100%;
    align: center;
    padding: 15em;
    min-height: 196hv;
    background-image: url("images/desktop/desktop_image/header_bg.svg");
    border: 1px solid blue;
  }
  #mobile_project{
    display:none;
  }
  #desktop_project{
    align:left
  }
  .left-block{
    align:right;
  }

  .card {
    display: flex;
    flex-direction: row;
    padding: 16px;
    gap: 12px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }


  
}
